* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

a {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body {
    height: 100%;
    font-family: 'Goldman', cursive;
}

.main__tab_choose {
    box-shadow: 0 15px 15px -10px rgba(0,0,0, 1);
}

.header__item_choose {
    box-shadow: 0 15px 15px -10px rgba(0,0,0, 1);
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    flex:1 0  auto;
    margin: 0 auto;
    min-height: 100vh;
    background-color:#4C5866 ;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* HEADER ON */

.header {
    flex: 0 0 auto;
}

.header__items {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 20px 0px 20px 0px;
}

.header__item {
    flex: 1 1 20%;
    text-align: center;
    padding: 10px;
    color: #080706;
    align-self: center;
    transition: all .3s ease;
}

.header__item:nth-child(n+2):hover {
    font-weight: bold;
    box-shadow: 0 15px 15px -10px rgba(0,0,0, .5);
    cursor: pointer;
}

.header__item:first-child:hover {
    opacity: .5;
    cursor: pointer;
}


.header__image {
    width: 1280px;
    height: 500px;
    background-image:url(./assets/img/car-repair-362150_1280.jpg);
    border-radius: 10px;
}

.header__logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-image: url(./assets/img/logo.png) ;
}

/* HEADER OFF */

/* MAIN ON */

.main {
    flex: 1 0 auto;
}

.main__actions {
    margin: 50px 0px 0px 0px;
}


.main__items {
    max-width: 1280px;
    max-height:300px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main__item {
    display: flex;
    background: url(./assets/img/car.jpg);
    width:30%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    transition: all 1s;
}

.main__item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main__item p {
    font-size: 20px;
    padding: 5%;
}

.main__item:nth-child(1) {
    background-color: burlywood;
}

.main__autopark {
    margin: 40px 0px 40px 0px;
}

.main__title {
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 26px;
    margin: 0px 0px 10px 0px;
}

.main__tabs {
    display: flex;
    justify-content: center;
    margin: 0px 0px 30px 0px;
}

.main__tab {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    transition: all .3s;
}

.main__tab:hover {
    box-shadow: 0 15px 15px -10px rgba(0,0,0, .5);
    cursor: pointer;
}

.main__cars {
    max-width: 1000px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.main__car {
    flex: 0 1 20%;
    margin: 10px 0px 10px 40px;
    max-height: 350px;
}

.car__img {
    width: 200px;
    min-height: 200px;
    background-color: whitesmoke;
}


/* MAIN OFF */

/* FOOTER ON */

.footer {
    flex: 0 0 auto;
}

.footer__main {
    width: auto;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0px 0px 20px 0px;
}

.footer__row {
    display: flex;
    justify-content: space-around;
}

.footer__item_logo {
    padding: 20px;
}

.footer__item {
    align-self: center;
    flex: 1 1 20%;
}

.footer__item:first-child:hover {
    opacity: .5;
    cursor: pointer;
}

/* FOOTER OFF */


/* SERVICES ON */

.services__taxi {
    margin: 50px 0px 10px 0px;
    text-align: center;
}

.taxi__title {
    margin: 0px 0px 10px 0px;
    font-size: 26px;
    font-weight: 600;
}

.taxi__subtitle {
    font-size: 16px;
    font-weight: 500;
}

.services__rent {
    margin: 50px 0px 10px 0px;
    text-align: center;
}

.rent__title {
    margin: 0px 0px 10px 0px;
    font-size: 26px;
    font-weight: 600;
}

.rent__subtitle {
    font-size: 16px;
    font-weight: 500;
}

/* SERVICES OFF */

/* LOGIN ON */

.main__personal {
    display: flex;
}

.personal__nav {
    width: 30%;
    padding: 30px;
}

.personal__nav li {
    padding: 2%;  
    width: 30%;
    font-size: 16px;
    font-weight: 520;   
}

.personal__nav li:hover {
    outline: 2px solid burlywood;
    cursor: pointer;
}

.personal__logo {
    width: 50px;
    height: 50px;
    background-color: burlywood;
    border-radius: 50%;
}

.personal__data {
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin: 2% 0px 0px 0px;
    font-size: 18px;
    font-weight: 520;
}


/* LOGIN OFF */

/* LOGIN AND REG ON*/

.logingAndReg {
    display: flex;
    height: 250px;
}

.Login {
    padding: 15px;
    flex-direction: column;
    padding: 15px;
}

.Reg {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0px 0px 0px 50px;
}

.logingAndReg input {
    width: 150px;
    height: 25px;
    border-radius: 10px;
}

.Login label {
    padding: 0 10px 0px 0px;
}

.error {
    color:red;
}

.register {
    color: green;
}

.logingAndReg__btn {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.logingAndReg__btn:hover {
    cursor: pointer;
}

/* LOGIN AND REG OFF */


/* PRELOADER ON */

.multiple1 {
    padding: 10px;
    margin: 10px 47%;
}

.ball1, .ball2, .ball3 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: left;
    margin: 0 3px;
 }
 
 .ball1 {
    background-color: black;
    -webkit-animation: single1ball1anim 2s infinite linear;
    animation: single1ball1anim 2s infinite linear;
 }
 
 @-webkit-keyframes single1ball1anim {
    0% {
       -webkit-transform: scale(1);
       transform: scale(1);
    }
    12.5% {
       -webkit-transform: scale(1.2);
       transform: scale(1.5);
    }
    25%, 100% {
       -webkit-transform: scale(1);
       transform: scale(1)
    }
 }
 
 @keyframes single1ball1anim {
    0% {
       -webkit-transform: scale(1);
       transform: scale(1);
    }
    12.5% {
       -webkit-transform: scale(1.2);
       transform: scale(1.5);
    }
    25%, 100% {
       -webkit-transform: scale(1);
       transform: scale(1)
    }
 }
 
 .ball2 {
    background-color: black;
    -webkit-animation: single1ball2anim 2s infinite linear;
    animation: single1ball2anim 2s infinite linear;
 }
 
 @-webkit-keyframes single1ball2anim {
    0%, 25% {
       -webkit-transform: scale(1);
       transform: scale(1);
    }
    37.5% {
       -webkit-transform: scale(1.2);
       transform: scale(1.5)
    }
    50%, 100% {
       -webkit-transform: scale(1);
       transform: scale(1);
    }
 }
 
 @keyframes single1ball2anim {
    0%, 25% {
       -webkit-transform: scale(1);
       transform: scale(1);
    }
    37.5% {
       -webkit-transform: scale(1.2);
       transform: scale(1.5)
    }
    50%, 100% {
       -webkit-transform: scale(1);
       transform: scale(1);
    }
 }
 
 .ball3 {
    background-color: black;
    -webkit-animation: single1ball3anim 2s infinite linear;
    animation: single1ball3anim 2s infinite linear;
 }
 
 @-webkit-keyframes single1ball3anim {
    0%, 50% {
       -webkit-transform: scale(1);
       transform: scale(1);
    }
    62.5% {
       -webkit-transform: scale(1.2);
       transform: scale(1.5)
    }
    75%, 100% {
       -webkit-transform: scale(1);
       transform: scale(1);
    }
 }
 
 @keyframes single1ball3anim {
    0%, 50% {
       -webkit-transform: scale(1);
       transform: scale(1);
    }
    62.5% {
       -webkit-transform: scale(1.2);
       transform: scale(1.5)
    }
    75%, 100% {
       -webkit-transform: scale(1);
       transform: scale(1);
    }
 }
/* PRELOADER OFF */

/* Car on*/
.car__btn {
    padding: 5px;
    width: 60%;
    text-align: center;
    border: 1px solid black;
    margin: 0px 0px 5px 0px;
    border-radius: 5px;
}

.car__btn:hover {
    color:white;
    background: black;
    cursor: pointer;
}  

.ModalWindow {
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(0 0 0 / 50%);;
    width: 100%;
    min-height: 100vh;
}


.Modal {
    margin: 10% auto;
    max-width: 40%;
    height: 550px;
    border-radius: 20px;
    background: #fff;
    overflow-y: auto;
}

.ModalBody {
    /* overflow: hidden;
    word-wrap: break-word;
    max-width: 400px;
    max-height: auto;
    background-color: red; */
}

.ModalContent {
    overflow: hidden;
    word-wrap: break-word;
    margin: 30px auto;
    max-width: 700px;
    min-height: 400px;
}

.ModalHeader {
    background-color: white;
    margin: 0px 0px 30px 0px;
    font-size: 35px;
    text-align: center;
}


.ModalBody {
    display: flex;
    width: auto;
    height: 400px;
}

.ModalBody__img {
    flex: 1 0 50%;
}

.ModalBody__desc {
    flex: 1 0 50%;
}

.ModalBody__desc p {
    padding: 0px 0px 30px 15px;
    font-size: 16px;
    font-weight: 600;
}

.ModalBody__managment {
    padding: 0px 0px 30px 15px;
}

.ModalBody__managment input {
    margin: 0px 10px 0px 0px;
}

.ModalBody__accepted {
    margin: 10px 0px;
    border-radius: 10px;
}

.ModalBody__accepted button {
    padding: 10px;
    border-radius: 20px;
    background-color: #CCCCFF;
    color: black;
    font-size: 16px;
    margin: 10px 0px 0px 0px;
}

.ModalBody__accepted button:disabled {
    color: grey;
}

.ModalClose {
    position: fixed;
    top: 20%;
    right: 32%;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

/* Car off */

